
body 

{
	background-color: rgb(222,233,222);
	margin: 0px;
}

#container 
{ 
	display:flex; 
	flex-direction: column; 
	text-align:center;
}

#paneldiv
{
  order: 1;
}

#icondiv
{
	order: 2;
	text-align: right;
	margin-right: 60px;
}

#iconimage
{
}