@font-face {
    font-family: museo-500;
    src: url(2EE442_0_0.woff);
}

body 

{
    
	background-color: rgb(251,244,230)
;
	max-width: 480px
}

img
{
  max-width: 100%
}

#imagewrapper
{
	max-width: 460px
	margin-left: 10px;
	margin-right: 10px;
}





#textwrapper

{
    
	text-align:left;

	max-width: 440px;
	margin-left: 20px;
	margin-right: 20px;

	padding-top: 20px;

	word-wrap: break-word; 
	font-size: 120%;
	color: rgb(21,27,68);
	font-family: museo-500; 
}
